# User Identifiers
PUID={your user choice}
PGID={your group choice}
# Volume Paths
KAS_APP_PATH={your host path}/KASupdater
KAS_UPDATES_PATH={your host path}/KASupdates
# VPN variables
WIREGUARD_PRIVATE_KEY={your VPN private key}
WIREGUARD_ADDRESSES={your VPN public key}
VPN_ENDPOINT_IP={your VPN endpoint IP}
VPN_ENDPOINT_PORT={your VPN endpoint port}
WIREGUARD_PUBLIC_KEY={your VPN public key}