# Storage Path
OTBR_DATA_PATH={your host path}/otbr-data

# Serial Device ID (Update this when hardware arrives)
DEVICE_ID=usb-Nabu_Casa_Home_Assistant_Connect_ZBT-2_PLACEHOLDER-if00-port0

# Networking & Identity
OTBR_AGENT_OPTS=spinel+hdlc+uart:///dev/serial/by-id/${DEVICE_ID}?uart-baudrate=460800

# User Identifiers
PUID={your user choice}
PGID={your group choice}