# --- System Settings ---
PUID={your user choice}
PGID={your group choice}
TIMEZONE={your time zone}

# --- Network & Binding ---
# HOST_IP=0.0.0.0
# WEBUI_PORT=18864

# --- Storage Paths ---
CONFIG_VOLUME_PATH={your host path}/config
PLUGINS_VOLUME_PATH={your host path}/plugins

# --- Sensitive Credentials ---
APRS_CALLSIGN={your callsign}
APRS_PASSCODE={your callsign aprs passcode}